if title
  .title #{title}
else
  .title
section.card
  .card-content
    table
      tr
        th Referência
        th JAN
        th FEV
        th MAR
        th ABR
        th MAI
        th JUN
        th JUL
        th AGO
        th SET
        th OUT
        th NOV
        th DEZ
      tr
        td 2020
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35%
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35%  
        td 0,35%  
      tr 
        td %CDI 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td -29,90% 
        td -29,90% 
        td -29,90% 
        td -29,90% 
        td -29,90% 
        td -29,90% 
      tr 
        td %IPCA
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
      tr 
        td 2019
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86%
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
      tr 
        td %CDI
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86% 
        td 15,86%
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
        td 0,35% 
      tr 
        td %IPCA
        td 15,86%
        td 15,86%
        td 15,86%
        td 15,86%
        td 15,86%
        td 0,35%
        td 0,35%
        td 0,35%
        td 0,35%
        td 0,35%
        td 0,35%
        td 0,39%
