doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
  body
    header
      .container
        .logo
          img(src="./img/icon__default-tenant-logo.svg" alt="logo")
          .logo-title
            span SUA
            h1 EMPRESA
        .separator
        .header-content
          span Silmara Grivol Silva
          h1 Minha carteira de Investimentos
          p Período dd/mm/aaa a dd/mm/aaa