* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: silver;
  font-family: 'Montserrat',sans-serif;
  
}

header {
  background-image: url('./img/background__report.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.container {
  padding: 56px 96px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  padding-left: 12px;
}

.logo-title span {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
}

.logo-title h1 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
}

.separator {
  position: relative;
  width: 4px;
  height: 112px;
  background-color: #8551D9;
  border-radius: 10px;
  margin: 0 32px;
}

.header-content span {
  color: #0DCEE6;
  font-weight: 600;
  line-height: 20px;
}

.header-content h1 {
  color: #FAFBFB;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 14px;
  margin-top: 8px;
}

.header-content p {
  color: #FAFBFB;
  font-size: 12px;
  line-height: 12px;
}