doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
  body
   section.card
    .title No mês de Agosto 2021
    .separator
    .card-content
      .card-item
        p Saldo Bruto
        h2 R$ 999.999,00
      .card-item
        p Rentabilidade:
        h2 5,47%
      .card-item
        p IPCA:
        h2 122,1%
      .card-item
        p CDI:
        h2 122,1%