doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
  body
   .title Histórico de Rentabilidade da Carteira (%)
   section.card
    .card-content
      table
        tr
          th Referência
          th JAN
          th FEV
          th MAR
          th ABR
          th MAI
          th JUN
          th JUL
          th AGO
          th SET
          th OUT
          th NOV
          th DEZ
        tr
          td 2020
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35%
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35%  
          td 0,35%  
        tr 
          td %CDI 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td -29,90% 
          td -29,90% 
          td -29,90% 
          td -29,90% 
          td -29,90% 
          td -29,90% 
        tr 
          td %IPCA
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
        tr 
          td 2019
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86%
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
        tr 
          td %CDI
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86% 
          td 15,86%
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
          td 0,35% 
        tr 
          td %IPCA
          td 15,86%
          td 15,86%
          td 15,86%
          td 15,86%
          td 15,86%
          td 0,35%
          td 0,35%
          td 0,35%
          td 0,35%
          td 0,35%
          td 0,35%
          td 0,39%