<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="title">Histórico de Rentabilidade da Carteira (%)</div>
    <section class="card">
      <div class="card-content">
        <table>
          <tr>
            <th>Referência</th>
            <th>JAN</th>
            <th>FEV</th>
            <th>MAR</th>
            <th>ABR</th>
            <th>MAI</th>
            <th>JUN</th>
            <th>JUL</th>
            <th>AGO</th>
            <th>SET</th>
            <th>OUT</th>
            <th>NOV</th>
            <th>DEZ</th>
          </tr>
          <tr>
            <td>2020</td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35%</td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35%  </td>
            <td>0,35%  </td>
          </tr>
          <tr> 
            <td>%CDI </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
          </tr>
          <tr> 
            <td>%IPCA</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
          </tr>
          <tr> 
            <td>2019</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86%</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>%CDI</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86%</td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
          </tr>
          <tr> 
            <td>%IPCA</td>
            <td>15,86%</td>
            <td>15,86%</td>
            <td>15,86%</td>
            <td>15,86%</td>
            <td>15,86%</td>
            <td>0,35%</td>
            <td>0,35%</td>
            <td>0,35%</td>
            <td>0,35%</td>
            <td>0,35%</td>
            <td>0,35%</td>
            <td>0,39%</td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>