<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"><img src="./icon__default-tenant-logo.svg" alt="logo">
          <div class="logo-title"><span>SUA</span>
            <h1>EMPRESA</h1>
          </div>
        </div>
        <div class="separator"></div>
        <div class="header-content"><span>Silmara Grivol Silva</span>
          <h1>Minha carteira de Investimentos</h1>
          <p>Período dd/mm/aaa a dd/mm/aaa</p>
        </div>
      </div>
    </header>
  </body>
</html>