<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="card">
      <div class="title">No mês de Agosto 2021</div>
      <div class="separator"></div>
      <div class="card-content">
        <div class="card-item">
          <p>Saldo Bruto</p>
          <h2>R$ 999.999,00</h2>
        </div>
        <div class="card-item">
          <p>Rentabilidade:</p>
          <h2>5,47%</h2>
        </div>
        <div class="card-item">
          <p>IPCA:</p>
          <h2>122,1%</h2>
        </div>
        <div class="card-item">
          <p>CDI:</p>
          <h2>122,1%</h2>
        </div>
      </div>
    </section>
  </body>
</html>