doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
  body
   section.card
    .title Estatística Histórica
    .card-content
      .card-item
        p Meses Negativos
        span 2
      .card-item
        p Meses Positivos
        span 12
      .card-item
        p Meses Acima do CDI
        span 3
      .card-item
        p Meses Acima do IPCA
        span 13
      .card-item
        p Meses Abaixo do CDI
        span 7
      .card-item
        p Meses Abaixo do IPCA
        span 2
      .card-item
        p Volatilidade 12 meses
        span 38,30 %
      .card-item
        p Volatilidade Início
        span 7,85 %
   