<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="card">
      <div class="title">Estatística Histórica</div>
      <div class="card-content">
        <div class="card-item">
          <p>Meses Negativos</p><span>2</span>
        </div>
        <div class="card-item">
          <p>Meses Positivos</p><span>12</span>
        </div>
        <div class="card-item">
          <p>Meses Acima do CDI</p><span>3</span>
        </div>
        <div class="card-item">
          <p>Meses Acima do IPCA</p><span>13</span>
        </div>
        <div class="card-item">
          <p>Meses Abaixo do CDI</p><span>7</span>
        </div>
        <div class="card-item">
          <p>Meses Abaixo do IPCA</p><span>2</span>
        </div>
        <div class="card-item">
          <p>Volatilidade 12 meses</p><span>38,30 %</span>
        </div>
        <div class="card-item">
          <p>Volatilidade Início</p><span>7,85 %</span>
        </div>
      </div>
    </section>
  </body>
</html>