<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="card">
      <div class="title">Estatística Histórica</div>
      <div class="card-content">
        <table>
          <tr>
            <th> </th>
            <th>
              <p>Rentabilidade</p>
              <span>Mês</span>
            </th>
            <th>
              <p>Rentabilidade</p>
              <span>Ano</span>
            </th>
            <th>
              <p>Rentabilidade</p>
              <span>12 meses</span>
            </th>
            <th>
              <p>Rentabilidade</p>
              <span>Período</span>
            </th>
            <th>
              <p>Volatilidade</p>
              <span>12 meses</span>
            </th>
          </tr>
          <tr>
            <td>CARTEIRA</td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
            <td>0,35% </td>
          </tr>
          <tr> 
            <td>CDI </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
            <td>-29,90% </td>
          </tr>
          <tr> 
            <td>POUPANÇA</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>IPCA</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>IBOVESPA</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>DOLARI</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>IFIX (IMOBILIÁRIO)</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>S&P (BOLSA AMERICANA)</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>ANBIMA IRFM (PRÉ)</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
          <tr> 
            <td>ANBIMA IRFM (MULTIMERCADO)</td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
            <td>15,86% </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>